In [157]:
"""
@filename: DataFrame-RowColSubsets.py
@author: waisullah yousofi
@url: https://pandas.pydata.org/pandas-docs/stable/index.html
"""

'\n@filename: DataFrame-RowColSubsets.py\n@author: waisullah yousofi\n@url: https://pandas.pydata.org/pandas-docs/stable/index.html\n'

import the pandas module

In [158]:
import pandas as pd

create an sample dataframe

In [159]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Arizona', 'Arizona', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

create dataframe

In [160]:
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'deaths', 'battles', 'size', 'origin'])
print(df)

      regiment company  deaths  battles  size      origin
0   Nighthawks     1st     523        5  1045     Arizona
1   Nighthawks     1st      52       42   957  California
2   Nighthawks     2nd      25        2  1099       Texas
3   Nighthawks     2nd     616        2  1400     Florida
4     Dragoons     1st      43        4  1592     Arizona
5     Dragoons     1st     234        7  1006     Arizona
6     Dragoons     2nd     523        8   987      Alaska
7     Dragoons     2nd      62        3   849  Washington
8       Scouts     1st      62        4   973      Oregon
9       Scouts     1st      73        7  1005     Wyoming
10      Scouts     2nd      37        8  1099    Louisana
11      Scouts     2nd      35        9  1523     Georgia

create index

In [202]:
df = df.set_index('origin')
print(df)

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523

select a column

In [203]:
dfn = df['size']
print(dfn)
print(type(dfn))

origin
Arizona       1045
California     957
Texas         1099
Florida       1400
Arizona       1592
Arizona       1006
Alaska         987
Washington     849
Oregon         973
Wyoming       1005
Louisana      1099
Georgia       1523
Name: size, dtype: int64
<class 'pandas.core.series.Series'>

In [204]:
dfp = df[['size']]
print(dfp)
print(type(dfp))

            size
origin
Arizona     1045
California   957
Texas       1099
Florida     1400
Arizona     1592
Arizona     1006
Alaska       987
Washington   849
Oregon       973
Wyoming     1005
Louisana    1099
Georgia     1523
<class 'pandas.core.frame.DataFrame'>

select two or more columns

In [205]:
dfp = df[['size', 'battles']]
print(dfp)
print(type(dfp))
dfp = df[['size', 'battles','deaths']]
print(dfp)
print(type(dfp))

            size  battles
origin
Arizona     1045        5
California   957       42
Texas       1099        2
Florida     1400        2
Arizona     1592        4
Arizona     1006        7
Alaska       987        8
Washington   849        3
Oregon       973        4
Wyoming     1005        7
Louisana    1099        8
Georgia     1523        9
<class 'pandas.core.frame.DataFrame'>
            size  battles  deaths
origin
Arizona     1045        5     523
California   957       42      52
Texas       1099        2      25
Florida     1400        2     616
Arizona     1592        4      43
Arizona     1006        7     234
Alaska       987        8     523
Washington   849        3      62
Oregon       973        4      62
Wyoming     1005        7      73
Louisana    1099        8      37
Georgia     1523        9      35
<class 'pandas.core.frame.DataFrame'>

show index item <br>
select every index item up to 3

In [206]:
print(df)
print(df.index[0:7])
print(df.index[4])
print(df.index[4:])
print(df.index[4:-1])
print(df.index[0:11])
print(df.index[11])

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
Index(['Arizona', 'California', 'Texas', 'Florida', 'Arizona', 'Arizona',
       'Alaska'],
      dtype='object', name='origin')
Arizona
Index(['Arizona', 'Arizona', 'Alaska', 'Washington', 'Oregon', 'Wyoming',
       'Louisana', 'Georgia'],
      dtype='object', name='origin')
Index(['Arizona', 'Arizona', 'Alaska', 'Washington', 'Oregon', 'Wyoming',
       'Louisana'],
      dtype='object', name='origin')
Index(['Arizona', 'California', 'Texas', 'Florida', 'Arizona', 'Arizona',
       'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana'],
      dtype='object', name='origin')
Georgia

remove index

In [207]:
df = df.reset_index() 
#or
#df.reset_index(inplace = True) 
print(df)
print(type(df))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
<class 'pandas.core.frame.DataFrame'>

iloc<br>
iloc performs integer-based access to the index, purely by position: <br>
that is, if you think of the of the DataFrame as a list of values or rows<br>
iloc does normal 0-based list access.

select rows by row number<br>
select every row up to 1

In [208]:
print(df)
dft = df.iloc[:2]
print(dft)
print(type(dft))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
       origin    regiment company  deaths  battles  size
0     Arizona  Nighthawks     1st     523        5  1045
1  California  Nighthawks     1st      52       42   957
<class 'pandas.core.frame.DataFrame'>

select rows by row number<br>
select every row up to 1

In [209]:
print(df)
dft = df.iloc[0:2]
print(dft)
print(type(dft))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
       origin    regiment company  deaths  battles  size
0     Arizona  Nighthawks     1st     523        5  1045
1  California  Nighthawks     1st      52       42   957
<class 'pandas.core.frame.DataFrame'>

select the second df.iloc[1:2]

In [210]:
print(df)
dft = df.iloc[1:2]
print(dft)
print(type(dft))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
       origin    regiment company  deaths  battles  size
1  California  Nighthawks     1st      52       42   957
<class 'pandas.core.frame.DataFrame'>

select every row after the third row

In [211]:
print(df)
dft = df.iloc[2:]
print(dft)
print(type(dft))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
        origin    regiment company  deaths  battles  size
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
<class 'pandas.core.frame.DataFrame'>

In [212]:
print(df)
dft = df.iloc[2:-1]
print(dft)
print(type(dft))

        origin    regiment company  deaths  battles  size
0      Arizona  Nighthawks     1st     523        5  1045
1   California  Nighthawks     1st      52       42   957
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
11     Georgia      Scouts     2nd      35        9  1523
        origin    regiment company  deaths  battles  size
2        Texas  Nighthawks     2nd      25        2  1099
3      Florida  Nighthawks     2nd     616        2  1400
4      Arizona    Dragoons     1st      43        4  1592
5      Arizona    Dragoons     1st     234        7  1006
6       Alaska    Dragoons     2nd     523        8   987
7   Washington    Dragoons     2nd      62        3   849
8       Oregon      Scouts     1st      62        4   973
9      Wyoming      Scouts     1st      73        7  1005
10    Louisana      Scouts     2nd      37        8  1099
<class 'pandas.core.frame.DataFrame'>

select columns by column number<br>
select the first 2 columns

In [221]:
print(df)
dft = df.iloc[:,:]
print(dft)
print(type(dft))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
<class 'pandas.core.frame.DataFrame'>

very important - why?<br>
result is not dataframe but a basic object like int, float, string, bool

In [222]:
print(df)
tmp = df.iloc[2,2]
print(tmp)
print(type(tmp))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
25
<class 'numpy.int64'>

very important - why?

In [223]:
print(df)
tmp = df.iloc[2:3,2:3]
print(tmp)
print(type(tmp))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
        deaths
origin
Texas       25
<class 'pandas.core.frame.DataFrame'>

select by conditionals (boolean)<br>
select rows where df.deaths is greater than 100

In [224]:
print(df)
dfp = df[   df['deaths'] > 100  ]
print(dfp)
print(type(dfp))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
           regiment company  deaths  battles  size
origin
Arizona  Nighthawks     1st     523        5  1045
Florida  Nighthawks     2nd     616        2  1400
Arizona    Dragoons     1st     234        7  1006
Alaska     Dragoons     2nd     523        8   987
<class 'pandas.core.frame.DataFrame'>

In [226]:
print(df)
dfp = df[df['deaths'] > 100].iloc[1:3,]
print(dfp)
print(type(dfp))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
           regiment company  deaths  battles  size
origin
Florida  Nighthawks     2nd     616        2  1400
Arizona    Dragoons     1st     234        7  1006
<class 'pandas.core.frame.DataFrame'>

In [231]:
df.index

Index(['Arizona', 'California', 'Texas', 'Florida', 'Arizona', 'Arizona',
       'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia'],
      dtype='object', name='origin')

loc<br>
according to the pandas documentation this is a "Purely label-location based <br>
indexer for selection by label". Basically, use loc for indexes with <br>
meaningul label values.

select all rows by index label<br>
select all rows with the index label "Arizona"

In [234]:

print(df.loc['Arizona'])

           regiment company  deaths  battles  size
origin
Arizona  Nighthawks     1st     523        5  1045
Arizona    Dragoons     1st      43        4  1592
Arizona    Dragoons     1st     234        7  1006

select data in rows named Arizona Texas

In [235]:
dft = df.loc[['Arizona', 'Texas']]
print(dft)
print(type(dft))

           regiment company  deaths  battles  size
origin
Arizona  Nighthawks     1st     523        5  1045
Arizona    Dragoons     1st      43        4  1592
Arizona    Dragoons     1st     234        7  1006
Texas    Nighthawks     2nd      25        2  1099
<class 'pandas.core.frame.DataFrame'>

select the third cell in the row named Arizona

In [236]:
dft = df.loc[['Arizona', 'Texas'], ['deaths','battles']]
print(dft)
print(type(dft))

         deaths  battles
origin
Arizona     523        5
Arizona      43        4
Arizona     234        7
Texas        25        2
<class 'pandas.core.frame.DataFrame'>

select data in rows named Arizona Texas

In [237]:
dft = df.loc['Oregon','deaths']
print(dft)
print(type(dft))

62
<class 'numpy.int64'>

ix<br>
ix is the combination of both .loc and .iloc. <br>
ix supports both label (i.e. index label value) and positional access<br>
it looks first for a label and falls back to positional access if no label <br>
with the given value is found. It is a handy shortcut, especially if you <br>
want to do things like access your index by label but your columns by position

select data in rows named Arizona Texas

In [266]:
df.index

Index(['Arizona', 'California', 'Texas', 'Florida', 'Arizona', 'Arizona',
       'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia'],
      dtype='object', name='origin')

In [267]:

dft = df.loc[['Arizona', 'Texas']]
print(dft)
print(type(dft))

           regiment company  deaths  battles  size
origin
Arizona  Nighthawks     1st     523        5  1045
Arizona    Dragoons     1st      43        4  1592
Arizona    Dragoons     1st     234        7  1006
Texas    Nighthawks     2nd      25        2  1099
<class 'pandas.core.frame.DataFrame'>

select the third cell in the row named Arizona

In [268]:
dft = df.loc['Arizona', 'deaths']
print(dft)
print(type(dft))

origin
Arizona    523
Arizona     43
Arizona    234
Name: deaths, dtype: int64
<class 'pandas.core.series.Series'>

In [269]:
dft = df.iloc[3,2]
print(dft)
print(type(dft))

616
<class 'numpy.int64'>

In [271]:
dft = df.iloc[2:4, 1:2]
print(dft)
print(type(dft))

        company
origin
Texas       2nd
Florida     2nd
<class 'pandas.core.frame.DataFrame'>

616

In [272]:
print(df)
dft = df.iloc[3,2]
print(dft)
print(type(dft))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
616
<class 'numpy.int64'>

616 as df

In [273]:
print(df)
dft = df.iloc[3:4,2:3]
print(dft)
print(type(dft))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
         deaths
origin
Florida     616
<class 'pandas.core.frame.DataFrame'>

arizona rows

In [274]:
print(df)
dft = df.iloc[4:6]
print(dft)
print(type(dft))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
         regiment company  deaths  battles  size
origin
Arizona  Dragoons     1st      43        4  1592
Arizona  Dragoons     1st     234        7  1006
<class 'pandas.core.frame.DataFrame'>

cols company & deaths

In [275]:
print(df)
dft = df.iloc[:,1:3]
print(dft)
print(type(dft))

              regiment company  deaths  battles  size
origin
Arizona     Nighthawks     1st     523        5  1045
California  Nighthawks     1st      52       42   957
Texas       Nighthawks     2nd      25        2  1099
Florida     Nighthawks     2nd     616        2  1400
Arizona       Dragoons     1st      43        4  1592
Arizona       Dragoons     1st     234        7  1006
Alaska        Dragoons     2nd     523        8   987
Washington    Dragoons     2nd      62        3   849
Oregon          Scouts     1st      62        4   973
Wyoming         Scouts     1st      73        7  1005
Louisana        Scouts     2nd      37        8  1099
Georgia         Scouts     2nd      35        9  1523
           company  deaths
origin
Arizona        1st     523
California     1st      52
Texas          2nd      25
Florida        2nd     616
Arizona        1st      43
Arizona        1st     234
Alaska         2nd     523
Washington     2nd      62
Oregon         1st      62
Wyoming        1st      73
Louisana       2nd      37
Georgia        2nd      35
<class 'pandas.core.frame.DataFrame'>