In [1]:
"""
@filename: DataFrame-BasicOps
@author: waisullah
@url: https://pandas.pydata.org/pandas-docs/stable/index.html
"""

'\n@filename: DataFrame-BasicOps\n@author: waisullah\n@url: https://pandas.pydata.org/pandas-docs/stable/index.html\n'

In [2]:
import pandas as pd
import numpy as np

read data from csv and load data in a dataframe

In [4]:
df = pd.read_csv('..\dataset/Catalog.csv')

print df

In [5]:
print(df)

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

info df

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    26 non-null     object
 1   Artist   26 non-null     object
 2   Country  24 non-null     object
 3   Company  26 non-null     object
 4   Price    25 non-null     float64
 5   Year     26 non-null     int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB
None

summary df

In [7]:
print(df.describe())

           Price         Year
count  25.000000    26.000000
mean    9.048000  1988.730769
std     1.118079     7.040214
min     7.200000  1971.000000
25%     8.100000  1985.500000
50%     8.900000  1988.000000
75%     9.900000  1995.000000
max    10.900000  1999.000000

# variations

In [11]:
# load a csv with no headers<br>
df = pd.read_csv('..\dataset/Catalog.csv', header=None)
# load a csv while specifying column names<br>
df = pd.read_csv('..\dataset/Catalog.csv', names=['Title', 'Artist', 'Country', 'Company', 'Price', 'Year'])
# load a csv while specifying "." as missing values<br>
df = pd.read_csv('..\dataset/Catalog.csv', na_values=['.'])
# load a csv while skipping the top 3 rows<br>
df = pd.read_csv('..\dataset/Catalog.csv', skiprows=3)
# load a csv while interpreting "," in strings around numbers as thousands seperators<br>
df = pd.read_csv('..\dataset/Catalog.csv', thousands=',')

see the top & bottom rows of the frame

In [12]:
print(df.head())
print(df.tail())

               Title           Artist Country         Company  Price  Year
0  Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1    Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2      Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3      Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4               Eros  Eros Ramazzotti      EU             BMG    9.9  1997
                Title          Artist Country   Company  Price  Year
21  Pavarotti Concert  Lucy Pavarotti      UK     DECCA    9.9  1991
22    Dock of the bay    Otis Redding     USA  Atlantic    7.9  1987
23       Picture book      Simply Red      EU   Elektra    7.2  1985
24                Red  The Communards      UK    London    7.8  1987
25   Unchain my heart      Joe Cocker     USA       EMI    8.2  1987

In [13]:
print(df.head(2))
print(df.tail(3))

               Title        Artist Country      Company  Price  Year
0  Empire, Burlesque     Bob Dylan     USA     Columbia   10.9  1985
1    Hide your heart  Bonnie Tyler      UK  CBS Records    9.9  1988
               Title          Artist Country  Company  Price  Year
23      Picture book      Simply Red      EU  Elektra    7.2  1985
24               Red  The Communards      UK   London    7.8  1987
25  Unchain my heart      Joe Cocker     USA      EMI    8.2  1987

display the index

In [14]:
print(df.index)

RangeIndex(start=0, stop=26, step=1)

display columns

In [15]:
print(df.columns)

Index(['Title', 'Artist', 'Country', 'Company', 'Price', 'Year'], dtype='object')

print dataframe with RowNo as index<br>
df[n:n]<br>
Note that Pandas uses zero based numbering, so 0 is the first row, <br>
1 is the second row, etc.<br>
1:2 is to be read as starting 1 upto but including 2 ... prints row 1 only

In [16]:
print(df)
print(df[1:2])
print(df[1:-1])
print(df[1:])

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987
             Title        Artist Country      Company  Price  Year
1  Hide your heart  Bonnie Tyler      UK  CBS Records    9.9  1988
                 Title           Artist Country         Company  Price  Year
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
                 Title           Artist Country         Company  Price  Year
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

print dataframe column using ColName<br>
df['ColName']

In [17]:
print(df['Title'])

0      Empire, Burlesque
1        Hide your heart
2          Greatest Hits
3          Got the blues
4                   Eros
5         One night only
6         Sylvias Mother
7             Maggie May
8                Romanza
9     Man loves, a woman
10           Black angel
11       Grammy Nominees
12    For the good times
13      Big Willie style
14          Tupelo Honey
15            Soulsville
16      The very best of
17                  Stop
18       Bridge of Spies
19        Private Dancer
20        Midt om natten
21     Pavarotti Concert
22       Dock of the bay
23          Picture book
24                   Red
25      Unchain my heart
Name: Title, dtype: object

print dataframe using RowNo & ColName

In [18]:
print(df)
print(df[0:2]['Title'])

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987
0    Empire, Burlesque
1      Hide your heart
Name: Title, dtype: object

print dataframe using RowNo & ColName

In [19]:
print(df['Title'])
print(df['Title'][0:2])

0      Empire, Burlesque
1        Hide your heart
2          Greatest Hits
3          Got the blues
4                   Eros
5         One night only
6         Sylvias Mother
7             Maggie May
8                Romanza
9     Man loves, a woman
10           Black angel
11       Grammy Nominees
12    For the good times
13      Big Willie style
14          Tupelo Honey
15            Soulsville
16      The very best of
17                  Stop
18       Bridge of Spies
19        Private Dancer
20        Midt om natten
21     Pavarotti Concert
22       Dock of the bay
23          Picture book
24                   Red
25      Unchain my heart
Name: Title, dtype: object
0    Empire, Burlesque
1      Hide your heart
Name: Title, dtype: object

print dataframe rows with condition<br>
df[ df['ColName'] condition ]

single condition numeric equals

In [20]:
dfnew = df[  df['Year']==1990  ]
print(dfnew)

               Title       Artist Country         Company  Price  Year
3      Got the blues   Gary Moore     NaN  Virgin records   10.2  1990
7         Maggie May  Rod Stewart      UK        Pickwick    8.5  1990
16  The very best of  Cat Stevens      UK          Island    8.9  1990

single condition numeric other operators

In [21]:
dfnew = df[df['Year'] <= 1990]
print(dfnew)

                 Title          Artist Country         Company  Price  Year
0    Empire, Burlesque       Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart    Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits    Dolly Parton     USA             RCA    9.9  1982
3        Got the blues      Gary Moore     NaN  Virgin records   10.2  1990
6       Sylvias Mother         Dr.Hook      UK             CBS    8.1  1973
7           Maggie May     Rod Stewart      UK        Pickwick    8.5  1990
9   Man loves, a woman    Percy Sledge     USA        Atlantic    8.7  1987
14        Tupelo Honey    Van Morrison      UK         Polydor    8.2  1971
16    The very best of     Cat Stevens      UK          Island    8.9  1990
17                Stop       Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies           T'Pau      UK           Siren    7.9  1987
19      Private Dancer     Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten      Kim Larsen      EU          Medley    7.8  1983
22     Dock of the bay    Otis Redding     USA        Atlantic    7.9  1987
23        Picture book      Simply Red      EU         Elektra    7.2  1985
24                 Red  The Communards      UK          London    7.8  1987
25    Unchain my heart      Joe Cocker     USA             EMI    8.2  1987

single condition numeric other operators

In [22]:
dfnew = df[df['Year'] >= 1990]
print(dfnew)

                 Title           Artist Country         Company  Price  Year
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991

single condition numeric not operator

In [23]:
dfnew = df[df['Year'] != 1990]
print(dfnew)

                 Title           Artist Country       Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA      Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK   CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA           RCA    9.9  1982
4                 Eros  Eros Ramazzotti      EU           BMG    9.9  1997
5       One night only         Bee Gees      UK       Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK           CBS    8.1  1973
8              Romanza   Andrea Bocelli      EU       Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA      Atlantic    8.7  1987
10         Black angel      Savage Rose      EU          Mega   10.9  1995
11     Grammy Nominees             Many     USA        Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK  Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA      Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK       Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN           WEA    7.9  1996
17                Stop        Sam Brown      UK       A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK         Siren    7.9  1987
19      Private Dancer      Tina Turner      UK       Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU        Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK         DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA      Atlantic    7.9  1987
23        Picture book       Simply Red      EU       Elektra    7.2  1985
24                 Red   The Communards      UK        London    7.8  1987
25    Unchain my heart       Joe Cocker     USA           EMI    8.2  1987

single condition string equals

In [24]:
dfnew = df[df['Title'] == 'Red']
print(dfnew)

   Title          Artist Country Company  Price  Year
24   Red  The Communards      UK  London    7.8  1987

single condition string NOT equals

In [25]:
dfnew = df[df['Title'] != 'Red']
print(dfnew)

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

single condition string less than equals

In [26]:
dfnew = df[df['Title'] <= 'Red']
print(dfnew)

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987

single condition string isNULL

In [27]:
dfnew = df[df['Country'].isnull()]
print(dfnew)

            Title      Artist Country         Company  Price  Year
3   Got the blues  Gary Moore     NaN  Virgin records   10.2  1990
15     Soulsville   Jorn Hoel     NaN             WEA    7.9  1996

single condition string notNULL

In [28]:
dfnew = df[df['Country'].notnull()]
print(dfnew)

                 Title           Artist Country       Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA      Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK   CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA           RCA    9.9  1982
4                 Eros  Eros Ramazzotti      EU           BMG    9.9  1997
5       One night only         Bee Gees      UK       Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK           CBS    8.1  1973
7           Maggie May      Rod Stewart      UK      Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU       Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA      Atlantic    8.7  1987
10         Black angel      Savage Rose      EU          Mega   10.9  1995
11     Grammy Nominees             Many     USA        Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK  Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA      Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK       Polydor    8.2  1971
16    The very best of      Cat Stevens      UK        Island    8.9  1990
17                Stop        Sam Brown      UK       A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK         Siren    7.9  1987
19      Private Dancer      Tina Turner      UK       Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU        Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK         DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA      Atlantic    7.9  1987
23        Picture book       Simply Red      EU       Elektra    7.2  1985
24                 Red   The Communards      UK        London    7.8  1987
25    Unchain my heart       Joe Cocker     USA           EMI    8.2  1987

multi condition AND & - notice the brackets <br>
each condition MUST be enclosed in seperate brackets

In [29]:
dfnew = df[ (df['Year'] >= 1980) & (df['Year'] <= 1990) ]
print(dfnew)

                 Title          Artist Country         Company  Price  Year
0    Empire, Burlesque       Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart    Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits    Dolly Parton     USA             RCA    9.9  1982
3        Got the blues      Gary Moore     NaN  Virgin records   10.2  1990
7           Maggie May     Rod Stewart      UK        Pickwick    8.5  1990
9   Man loves, a woman    Percy Sledge     USA        Atlantic    8.7  1987
16    The very best of     Cat Stevens      UK          Island    8.9  1990
17                Stop       Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies           T'Pau      UK           Siren    7.9  1987
19      Private Dancer     Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten      Kim Larsen      EU          Medley    7.8  1983
22     Dock of the bay    Otis Redding     USA        Atlantic    7.9  1987
23        Picture book      Simply Red      EU         Elektra    7.2  1985
24                 Red  The Communards      UK          London    7.8  1987
25    Unchain my heart      Joe Cocker     USA             EMI    8.2  1987

multi condition OR | - notice the brackets <br>
each condition MUST be enclosed in seperate brackets

In [30]:
dfnew = df[ (df['Year'] <= 1980) | (df['Year'] >= 1990) ]
print(dfnew)

                 Title           Artist Country         Company  Price  Year
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991

multi condition AND & + OR | - notice the brackets <br>
each condition MUST be enclosed in seperate brackets

In [31]:
dfnew = df[ ( (df['Year'] >= 1980) & (df['Year'] <= 1990) ) | (df['Title'] != 'Red') ]
print(dfnew)

                 Title           Artist Country         Company  Price  Year
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

multi condition NOT ~ <br>
each condition MUST be enclosed in seperate brackets

In [32]:
dfnew = df[~( (df['Year'] >= 1980) & (df['Year'] <= 1990) )]
print(dfnew)

                 Title           Artist Country       Company  Price  Year
4                 Eros  Eros Ramazzotti      EU           BMG    9.9  1997
5       One night only         Bee Gees      UK       Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK           CBS    8.1  1973
8              Romanza   Andrea Bocelli      EU       Polydor    NaN  1996
10         Black angel      Savage Rose      EU          Mega   10.9  1995
11     Grammy Nominees             Many     USA        Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK  Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA      Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK       Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN           WEA    7.9  1996
21   Pavarotti Concert   Lucy Pavarotti      UK         DECCA    9.9  1991

add new column<br>
assign New Column To Dataframe

In [33]:
df = df.assign(Check='SomeData')
print(df)
#or
df['Check']='SomeData'
print(df)

                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

       Check
0   SomeData
1   SomeData
2   SomeData
3   SomeData
4   SomeData
5   SomeData
6   SomeData
7   SomeData
8   SomeData
9   SomeData
10  SomeData
11  SomeData
12  SomeData
13  SomeData
14  SomeData
15  SomeData
16  SomeData
17  SomeData
18  SomeData
19  SomeData
20  SomeData
21  SomeData
22  SomeData
23  SomeData
24  SomeData
25  SomeData
                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

       Check
0   SomeData
1   SomeData
2   SomeData
3   SomeData
4   SomeData
5   SomeData
6   SomeData
7   SomeData
8   SomeData
9   SomeData
10  SomeData
11  SomeData
12  SomeData
13  SomeData
14  SomeData
15  SomeData
16  SomeData
17  SomeData
18  SomeData
19  SomeData
20  SomeData
21  SomeData
22  SomeData
23  SomeData
24  SomeData
25  SomeData

assign a new column to df called 'Age' with formula

In [34]:
df['Age']=2020-df['Year']
print(df)

                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

       Check  Age
0   SomeData   35
1   SomeData   32
2   SomeData   38
3   SomeData   30
4   SomeData   23
5   SomeData   22
6   SomeData   47
7   SomeData   30
8   SomeData   24
9   SomeData   33
10  SomeData   25
11  SomeData   21
12  SomeData   25
13  SomeData   23
14  SomeData   49
15  SomeData   24
16  SomeData   30
17  SomeData   32
18  SomeData   33
19  SomeData   37
20  SomeData   37
21  SomeData   29
22  SomeData   33
23  SomeData   35
24  SomeData   33
25  SomeData   33

assign a new column to df called 'Age' with formula

In [35]:
df['Check']="NewData"
print(df)

                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

      Check  Age
0   NewData   35
1   NewData   32
2   NewData   38
3   NewData   30
4   NewData   23
5   NewData   22
6   NewData   47
7   NewData   30
8   NewData   24
9   NewData   33
10  NewData   25
11  NewData   21
12  NewData   25
13  NewData   23
14  NewData   49
15  NewData   24
16  NewData   30
17  NewData   32
18  NewData   33
19  NewData   37
20  NewData   37
21  NewData   29
22  NewData   33
23  NewData   35
24  NewData   33
25  NewData   33

also allowed

In [36]:
df['New']=2018-df['Year']
print(df)

                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

      Check  Age  New
0   NewData   35   33
1   NewData   32   30
2   NewData   38   36
3   NewData   30   28
4   NewData   23   21
5   NewData   22   20
6   NewData   47   45
7   NewData   30   28
8   NewData   24   22
9   NewData   33   31
10  NewData   25   23
11  NewData   21   19
12  NewData   25   23
13  NewData   23   21
14  NewData   49   47
15  NewData   24   22
16  NewData   30   28
17  NewData   32   30
18  NewData   33   31
19  NewData   37   35
20  NewData   37   35
21  NewData   29   27
22  NewData   33   31
23  NewData   35   33
24  NewData   33   31
25  NewData   33   31

create a new column called Status where the value is based on condition<br>
if df.age is greater than 30

In [37]:
df = df.assign(Status="") 
df['Status'] = np.where(df['Age']>=30, 'GoldenOldie', 'RecentHit')
print(df)

                 Title           Artist Country         Company  Price  Year  \
0    Empire, Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3        Got the blues       Gary Moore     NaN  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998
6       Sylvias Mother          Dr.Hook      UK             CBS    8.1  1973
7           Maggie May      Rod Stewart      UK        Pickwick    8.5  1990
8              Romanza   Andrea Bocelli      EU         Polydor    NaN  1996
9   Man loves, a woman     Percy Sledge     USA        Atlantic    8.7  1987
10         Black angel      Savage Rose      EU            Mega   10.9  1995
11     Grammy Nominees             Many     USA          Grammy   10.2  1999
12  For the good times     Kenny Rogers      UK    Mucik Master    8.7  1995
13    Big Willie style       Will Smith     USA        Columbia    9.9  1997
14        Tupelo Honey     Van Morrison      UK         Polydor    8.2  1971
15          Soulsville        Jorn Hoel     NaN             WEA    7.9  1996
16    The very best of      Cat Stevens      UK          Island    8.9  1990
17                Stop        Sam Brown      UK         A and M    8.9  1988
18     Bridge of Spies            T'Pau      UK           Siren    7.9  1987
19      Private Dancer      Tina Turner      UK         Capitol    8.9  1983
20      Midt om natten       Kim Larsen      EU          Medley    7.8  1983
21   Pavarotti Concert   Lucy Pavarotti      UK           DECCA    9.9  1991
22     Dock of the bay     Otis Redding     USA        Atlantic    7.9  1987
23        Picture book       Simply Red      EU         Elektra    7.2  1985
24                 Red   The Communards      UK          London    7.8  1987
25    Unchain my heart       Joe Cocker     USA             EMI    8.2  1987

      Check  Age  New       Status
0   NewData   35   33  GoldenOldie
1   NewData   32   30  GoldenOldie
2   NewData   38   36  GoldenOldie
3   NewData   30   28  GoldenOldie
4   NewData   23   21    RecentHit
5   NewData   22   20    RecentHit
6   NewData   47   45  GoldenOldie
7   NewData   30   28  GoldenOldie
8   NewData   24   22    RecentHit
9   NewData   33   31  GoldenOldie
10  NewData   25   23    RecentHit
11  NewData   21   19    RecentHit
12  NewData   25   23    RecentHit
13  NewData   23   21    RecentHit
14  NewData   49   47  GoldenOldie
15  NewData   24   22    RecentHit
16  NewData   30   28  GoldenOldie
17  NewData   32   30  GoldenOldie
18  NewData   33   31  GoldenOldie
19  NewData   37   35  GoldenOldie
20  NewData   37   35  GoldenOldie
21  NewData   29   27    RecentHit
22  NewData   33   31  GoldenOldie
23  NewData   35   33  GoldenOldie
24  NewData   33   31  GoldenOldie
25  NewData   33   31  GoldenOldie

drop columns<br>
axis : {0 or index, 1 or columns}, default 0<br>
0 or index: apply function to each column<br>
1 or columns: apply function to each row

In [38]:
df = df.drop('Company', axis=1)
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    26 non-null     object
 1   Artist   26 non-null     object
 2   Country  24 non-null     object
 3   Price    25 non-null     float64
 4   Year     26 non-null     int64
 5   Check    26 non-null     object
 6   Age      26 non-null     int64
 7   New      26 non-null     int64
 8   Status   26 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.0+ KB
None
                 Title           Artist Country  Price  Year    Check  Age  \
0    Empire, Burlesque        Bob Dylan     USA   10.9  1985  NewData   35
1      Hide your heart     Bonnie Tyler      UK    9.9  1988  NewData   32
2        Greatest Hits     Dolly Parton     USA    9.9  1982  NewData   38
3        Got the blues       Gary Moore     NaN   10.2  1990  NewData   30
4                 Eros  Eros Ramazzotti      EU    9.9  1997  NewData   23
5       One night only         Bee Gees      UK   10.9  1998  NewData   22
6       Sylvias Mother          Dr.Hook      UK    8.1  1973  NewData   47
7           Maggie May      Rod Stewart      UK    8.5  1990  NewData   30
8              Romanza   Andrea Bocelli      EU    NaN  1996  NewData   24
9   Man loves, a woman     Percy Sledge     USA    8.7  1987  NewData   33
10         Black angel      Savage Rose      EU   10.9  1995  NewData   25
11     Grammy Nominees             Many     USA   10.2  1999  NewData   21
12  For the good times     Kenny Rogers      UK    8.7  1995  NewData   25
13    Big Willie style       Will Smith     USA    9.9  1997  NewData   23
14        Tupelo Honey     Van Morrison      UK    8.2  1971  NewData   49
15          Soulsville        Jorn Hoel     NaN    7.9  1996  NewData   24
16    The very best of      Cat Stevens      UK    8.9  1990  NewData   30
17                Stop        Sam Brown      UK    8.9  1988  NewData   32
18     Bridge of Spies            T'Pau      UK    7.9  1987  NewData   33
19      Private Dancer      Tina Turner      UK    8.9  1983  NewData   37
20      Midt om natten       Kim Larsen      EU    7.8  1983  NewData   37
21   Pavarotti Concert   Lucy Pavarotti      UK    9.9  1991  NewData   29
22     Dock of the bay     Otis Redding     USA    7.9  1987  NewData   33
23        Picture book       Simply Red      EU    7.2  1985  NewData   35
24                 Red   The Communards      UK    7.8  1987  NewData   33
25    Unchain my heart       Joe Cocker     USA    8.2  1987  NewData   33

    New       Status
0    33  GoldenOldie
1    30  GoldenOldie
2    36  GoldenOldie
3    28  GoldenOldie
4    21    RecentHit
5    20    RecentHit
6    45  GoldenOldie
7    28  GoldenOldie
8    22    RecentHit
9    31  GoldenOldie
10   23    RecentHit
11   19    RecentHit
12   23    RecentHit
13   21    RecentHit
14   47  GoldenOldie
15   22    RecentHit
16   28  GoldenOldie
17   30  GoldenOldie
18   31  GoldenOldie
19   35  GoldenOldie
20   35  GoldenOldie
21   27    RecentHit
22   31  GoldenOldie
23   33  GoldenOldie
24   31  GoldenOldie
25   31  GoldenOldie

drop / delete row based on RowIndex

In [39]:
print(df)
dfnew = df.drop(df.index[2])
print(dfnew)
print(dfnew.head())
print(dfnew[2:3])

                 Title           Artist Country  Price  Year    Check  Age  \
0    Empire, Burlesque        Bob Dylan     USA   10.9  1985  NewData   35
1      Hide your heart     Bonnie Tyler      UK    9.9  1988  NewData   32
2        Greatest Hits     Dolly Parton     USA    9.9  1982  NewData   38
3        Got the blues       Gary Moore     NaN   10.2  1990  NewData   30
4                 Eros  Eros Ramazzotti      EU    9.9  1997  NewData   23
5       One night only         Bee Gees      UK   10.9  1998  NewData   22
6       Sylvias Mother          Dr.Hook      UK    8.1  1973  NewData   47
7           Maggie May      Rod Stewart      UK    8.5  1990  NewData   30
8              Romanza   Andrea Bocelli      EU    NaN  1996  NewData   24
9   Man loves, a woman     Percy Sledge     USA    8.7  1987  NewData   33
10         Black angel      Savage Rose      EU   10.9  1995  NewData   25
11     Grammy Nominees             Many     USA   10.2  1999  NewData   21
12  For the good times     Kenny Rogers      UK    8.7  1995  NewData   25
13    Big Willie style       Will Smith     USA    9.9  1997  NewData   23
14        Tupelo Honey     Van Morrison      UK    8.2  1971  NewData   49
15          Soulsville        Jorn Hoel     NaN    7.9  1996  NewData   24
16    The very best of      Cat Stevens      UK    8.9  1990  NewData   30
17                Stop        Sam Brown      UK    8.9  1988  NewData   32
18     Bridge of Spies            T'Pau      UK    7.9  1987  NewData   33
19      Private Dancer      Tina Turner      UK    8.9  1983  NewData   37
20      Midt om natten       Kim Larsen      EU    7.8  1983  NewData   37
21   Pavarotti Concert   Lucy Pavarotti      UK    9.9  1991  NewData   29
22     Dock of the bay     Otis Redding     USA    7.9  1987  NewData   33
23        Picture book       Simply Red      EU    7.2  1985  NewData   35
24                 Red   The Communards      UK    7.8  1987  NewData   33
25    Unchain my heart       Joe Cocker     USA    8.2  1987  NewData   33

    New       Status
0    33  GoldenOldie
1    30  GoldenOldie
2    36  GoldenOldie
3    28  GoldenOldie
4    21    RecentHit
5    20    RecentHit
6    45  GoldenOldie
7    28  GoldenOldie
8    22    RecentHit
9    31  GoldenOldie
10   23    RecentHit
11   19    RecentHit
12   23    RecentHit
13   21    RecentHit
14   47  GoldenOldie
15   22    RecentHit
16   28  GoldenOldie
17   30  GoldenOldie
18   31  GoldenOldie
19   35  GoldenOldie
20   35  GoldenOldie
21   27    RecentHit
22   31  GoldenOldie
23   33  GoldenOldie
24   31  GoldenOldie
25   31  GoldenOldie
                 Title           Artist Country  Price  Year    Check  Age  \
0    Empire, Burlesque        Bob Dylan     USA   10.9  1985  NewData   35
1      Hide your heart     Bonnie Tyler      UK    9.9  1988  NewData   32
3        Got the blues       Gary Moore     NaN   10.2  1990  NewData   30
4                 Eros  Eros Ramazzotti      EU    9.9  1997  NewData   23
5       One night only         Bee Gees      UK   10.9  1998  NewData   22
6       Sylvias Mother          Dr.Hook      UK    8.1  1973  NewData   47
7           Maggie May      Rod Stewart      UK    8.5  1990  NewData   30
8              Romanza   Andrea Bocelli      EU    NaN  1996  NewData   24
9   Man loves, a woman     Percy Sledge     USA    8.7  1987  NewData   33
10         Black angel      Savage Rose      EU   10.9  1995  NewData   25
11     Grammy Nominees             Many     USA   10.2  1999  NewData   21
12  For the good times     Kenny Rogers      UK    8.7  1995  NewData   25
13    Big Willie style       Will Smith     USA    9.9  1997  NewData   23
14        Tupelo Honey     Van Morrison      UK    8.2  1971  NewData   49
15          Soulsville        Jorn Hoel     NaN    7.9  1996  NewData   24
16    The very best of      Cat Stevens      UK    8.9  1990  NewData   30
17                Stop        Sam Brown      UK    8.9  1988  NewData   32
18     Bridge of Spies            T'Pau      UK    7.9  1987  NewData   33
19      Private Dancer      Tina Turner      UK    8.9  1983  NewData   37
20      Midt om natten       Kim Larsen      EU    7.8  1983  NewData   37
21   Pavarotti Concert   Lucy Pavarotti      UK    9.9  1991  NewData   29
22     Dock of the bay     Otis Redding     USA    7.9  1987  NewData   33
23        Picture book       Simply Red      EU    7.2  1985  NewData   35
24                 Red   The Communards      UK    7.8  1987  NewData   33
25    Unchain my heart       Joe Cocker     USA    8.2  1987  NewData   33

    New       Status
0    33  GoldenOldie
1    30  GoldenOldie
3    28  GoldenOldie
4    21    RecentHit
5    20    RecentHit
6    45  GoldenOldie
7    28  GoldenOldie
8    22    RecentHit
9    31  GoldenOldie
10   23    RecentHit
11   19    RecentHit
12   23    RecentHit
13   21    RecentHit
14   47  GoldenOldie
15   22    RecentHit
16   28  GoldenOldie
17   30  GoldenOldie
18   31  GoldenOldie
19   35  GoldenOldie
20   35  GoldenOldie
21   27    RecentHit
22   31  GoldenOldie
23   33  GoldenOldie
24   31  GoldenOldie
25   31  GoldenOldie
               Title           Artist Country  Price  Year    Check  Age  New  \
0  Empire, Burlesque        Bob Dylan     USA   10.9  1985  NewData   35   33
1    Hide your heart     Bonnie Tyler      UK    9.9  1988  NewData   32   30
3      Got the blues       Gary Moore     NaN   10.2  1990  NewData   30   28
4               Eros  Eros Ramazzotti      EU    9.9  1997  NewData   23   21
5     One night only         Bee Gees      UK   10.9  1998  NewData   22   20

        Status
0  GoldenOldie
1  GoldenOldie
3  GoldenOldie
4    RecentHit
5    RecentHit
           Title      Artist Country  Price  Year    Check  Age  New  \
3  Got the blues  Gary Moore     NaN   10.2  1990  NewData   30   28

        Status
3  GoldenOldie

drop / delete row based on conditions

In [40]:
dfnew = df[ df.Title != 'Red' ]
print(dfnew)

                 Title           Artist Country  Price  Year    Check  Age  \
0    Empire, Burlesque        Bob Dylan     USA   10.9  1985  NewData   35
1      Hide your heart     Bonnie Tyler      UK    9.9  1988  NewData   32
2        Greatest Hits     Dolly Parton     USA    9.9  1982  NewData   38
3        Got the blues       Gary Moore     NaN   10.2  1990  NewData   30
4                 Eros  Eros Ramazzotti      EU    9.9  1997  NewData   23
5       One night only         Bee Gees      UK   10.9  1998  NewData   22
6       Sylvias Mother          Dr.Hook      UK    8.1  1973  NewData   47
7           Maggie May      Rod Stewart      UK    8.5  1990  NewData   30
8              Romanza   Andrea Bocelli      EU    NaN  1996  NewData   24
9   Man loves, a woman     Percy Sledge     USA    8.7  1987  NewData   33
10         Black angel      Savage Rose      EU   10.9  1995  NewData   25
11     Grammy Nominees             Many     USA   10.2  1999  NewData   21
12  For the good times     Kenny Rogers      UK    8.7  1995  NewData   25
13    Big Willie style       Will Smith     USA    9.9  1997  NewData   23
14        Tupelo Honey     Van Morrison      UK    8.2  1971  NewData   49
15          Soulsville        Jorn Hoel     NaN    7.9  1996  NewData   24
16    The very best of      Cat Stevens      UK    8.9  1990  NewData   30
17                Stop        Sam Brown      UK    8.9  1988  NewData   32
18     Bridge of Spies            T'Pau      UK    7.9  1987  NewData   33
19      Private Dancer      Tina Turner      UK    8.9  1983  NewData   37
20      Midt om natten       Kim Larsen      EU    7.8  1983  NewData   37
21   Pavarotti Concert   Lucy Pavarotti      UK    9.9  1991  NewData   29
22     Dock of the bay     Otis Redding     USA    7.9  1987  NewData   33
23        Picture book       Simply Red      EU    7.2  1985  NewData   35
25    Unchain my heart       Joe Cocker     USA    8.2  1987  NewData   33

    New       Status
0    33  GoldenOldie
1    30  GoldenOldie
2    36  GoldenOldie
3    28  GoldenOldie
4    21    RecentHit
5    20    RecentHit
6    45  GoldenOldie
7    28  GoldenOldie
8    22    RecentHit
9    31  GoldenOldie
10   23    RecentHit
11   19    RecentHit
12   23    RecentHit
13   21    RecentHit
14   47  GoldenOldie
15   22    RecentHit
16   28  GoldenOldie
17   30  GoldenOldie
18   31  GoldenOldie
19   35  GoldenOldie
20   35  GoldenOldie
21   27    RecentHit
22   31  GoldenOldie
23   33  GoldenOldie
25   31  GoldenOldie

rename column name<br>
rename the dataframe's column names with a new set of column names

In [43]:
df = pd.read_csv('..\dataset/Catalog.csv')
df = df.assign(Age=2020-df['Year'])
df['Status'] = np.where(df['Age']>=30, 'GoldenOldie', 'RecentHit')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    26 non-null     object
 1   Artist   26 non-null     object
 2   Country  24 non-null     object
 3   Company  26 non-null     object
 4   Price    25 non-null     float64
 5   Year     26 non-null     int64
 6   Age      26 non-null     int64
 7   Status   26 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.8+ KB

In [44]:
ColNames=['title', 'artist', 'country', 'company', 'price', 'year', 'age', 'label']
df.columns = ColNames
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    26 non-null     object
 1   artist   26 non-null     object
 2   country  24 non-null     object
 3   company  26 non-null     object
 4   price    25 non-null     float64
 5   year     26 non-null     int64
 6   age      26 non-null     int64
 7   label    26 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.8+ KB

rename specific column name<br>
rename the dataframe's column names with a new set of column names

In [45]:
df=df.rename(columns = {'label':'status'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    26 non-null     object
 1   artist   26 non-null     object
 2   country  24 non-null     object
 3   company  26 non-null     object
 4   price    25 non-null     float64
 5   year     26 non-null     int64
 6   age      26 non-null     int64
 7   status   26 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.8+ KB

save daqtaframe to csv

In [46]:
df.to_csv('..\dataset/Catalog.csv')
#df.to_csv('./data/Sample.csv', index=False)

rename column name<br>
rename the dataframe's column names with a new set of column names

In [49]:
df = pd.read_csv('..\dataset/Catalog.csv')
df = df.assign(Age=2020-df['year'])
df['Status'] = np.where(df['Age']>=30, 'GoldenOldie', 'RecentHit')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26 non-null     int64
 1   title       26 non-null     object
 2   artist      26 non-null     object
 3   country     24 non-null     object
 4   company     26 non-null     object
 5   price       25 non-null     float64
 6   year        26 non-null     int64
 7   age         26 non-null     int64
 8   status      26 non-null     object
 9   Age         26 non-null     int64
 10  Status      26 non-null     object
dtypes: float64(1), int64(4), object(6)
memory usage: 2.4+ KB

see the top & bottom rows of the frame

In [50]:
print(df.head(3))
print(df.tail(3))

   Unnamed: 0              title        artist country      company  price  \
0           0  Empire, Burlesque     Bob Dylan     USA     Columbia   10.9
1           1    Hide your heart  Bonnie Tyler      UK  CBS Records    9.9
2           2      Greatest Hits  Dolly Parton     USA          RCA    9.9

   year  age       status  Age       Status
0  1985   35  GoldenOldie   35  GoldenOldie
1  1988   32  GoldenOldie   32  GoldenOldie
2  1982   38  GoldenOldie   38  GoldenOldie
    Unnamed: 0             title          artist country  company  price  \
23          23      Picture book      Simply Red      EU  Elektra    7.2
24          24               Red  The Communards      UK   London    7.8
25          25  Unchain my heart      Joe Cocker     USA      EMI    8.2

    year  age       status  Age       Status
23  1985   35  GoldenOldie   35  GoldenOldie
24  1987   33  GoldenOldie   33  GoldenOldie
25  1987   33  GoldenOldie   33  GoldenOldie

check Country Count

In [53]:
print(df.groupby(['country'])['company'].count())
print("")
print(df.groupby(['company'])['country'].count())
print("")

country
EU      5
UK     12
USA     7
Name: company, dtype: int64

company
A and M           1
Atlantic          2
BMG               1
CBS               1
CBS Records       1
Capitol           1
Columbia          2
DECCA             1
EMI               1
Elektra           1
Grammy            1
Island            1
London            1
Medley            1
Mega              1
Mucik Master      1
Pickwick          1
Polydor           3
RCA               1
Siren             1
Virgin records    0
WEA               0
Name: country, dtype: int64

check Year Count

In [54]:
print(df.groupby(['year'])['title'].count())
print("")

year
1971    1
1973    1
1982    1
1983    2
1985    2
1987    5
1988    2
1990    3
1991    1
1995    2
1996    2
1997    2
1998    1
1999    1
Name: title, dtype: int64

check Country + Year Count

In [56]:
print(df.groupby(['country','year'])['title'].count())
print("")

country  year
EU       1983    1
         1985    1
         1995    1
         1996    1
         1997    1
UK       1971    1
         1973    1
         1983    1
         1987    2
         1988    2
         1990    2
         1991    1
         1995    1
         1998    1
USA      1982    1
         1985    1
         1987    3
         1997    1
         1999    1
Name: title, dtype: int64

selective update

In [57]:
df['country'] = np.where(df['country']=='UK','United Kingdom   ', df['country'])
df['country'] = np.where(df['country']=='USA','United States   ', df['country'])
df['country'] = np.where(df['country']=='EU','Europe Union     ', df['country'])
print(df)

    Unnamed: 0               title           artist            country  \
0            0   Empire, Burlesque        Bob Dylan   United States
1            1     Hide your heart     Bonnie Tyler  United Kingdom
2            2       Greatest Hits     Dolly Parton   United States
3            3       Got the blues       Gary Moore                NaN
4            4                Eros  Eros Ramazzotti  Europe Union
5            5      One night only         Bee Gees  United Kingdom
6            6      Sylvias Mother          Dr.Hook  United Kingdom
7            7          Maggie May      Rod Stewart  United Kingdom
8            8             Romanza   Andrea Bocelli  Europe Union
9            9  Man loves, a woman     Percy Sledge   United States
10          10         Black angel      Savage Rose  Europe Union
11          11     Grammy Nominees             Many   United States
12          12  For the good times     Kenny Rogers  United Kingdom
13          13    Big Willie style       Will Smith   United States
14          14        Tupelo Honey     Van Morrison  United Kingdom
15          15          Soulsville        Jorn Hoel                NaN
16          16    The very best of      Cat Stevens  United Kingdom
17          17                Stop        Sam Brown  United Kingdom
18          18     Bridge of Spies            T'Pau  United Kingdom
19          19      Private Dancer      Tina Turner  United Kingdom
20          20      Midt om natten       Kim Larsen  Europe Union
21          21   Pavarotti Concert   Lucy Pavarotti  United Kingdom
22          22     Dock of the bay     Otis Redding   United States
23          23        Picture book       Simply Red  Europe Union
24          24                 Red   The Communards  United Kingdom
25          25    Unchain my heart       Joe Cocker   United States

           company  price  year  age       status  Age       Status
0         Columbia   10.9  1985   35  GoldenOldie   35  GoldenOldie
1      CBS Records    9.9  1988   32  GoldenOldie   32  GoldenOldie
2              RCA    9.9  1982   38  GoldenOldie   38  GoldenOldie
3   Virgin records   10.2  1990   30  GoldenOldie   30  GoldenOldie
4              BMG    9.9  1997   23    RecentHit   23    RecentHit
5          Polydor   10.9  1998   22    RecentHit   22    RecentHit
6              CBS    8.1  1973   47  GoldenOldie   47  GoldenOldie
7         Pickwick    8.5  1990   30  GoldenOldie   30  GoldenOldie
8          Polydor    NaN  1996   24    RecentHit   24    RecentHit
9         Atlantic    8.7  1987   33  GoldenOldie   33  GoldenOldie
10            Mega   10.9  1995   25    RecentHit   25    RecentHit
11          Grammy   10.2  1999   21    RecentHit   21    RecentHit
12    Mucik Master    8.7  1995   25    RecentHit   25    RecentHit
13        Columbia    9.9  1997   23    RecentHit   23    RecentHit
14         Polydor    8.2  1971   49  GoldenOldie   49  GoldenOldie
15             WEA    7.9  1996   24    RecentHit   24    RecentHit
16          Island    8.9  1990   30  GoldenOldie   30  GoldenOldie
17         A and M    8.9  1988   32  GoldenOldie   32  GoldenOldie
18           Siren    7.9  1987   33  GoldenOldie   33  GoldenOldie
19         Capitol    8.9  1983   37  GoldenOldie   37  GoldenOldie
20          Medley    7.8  1983   37  GoldenOldie   37  GoldenOldie
21           DECCA    9.9  1991   29    RecentHit   29    RecentHit
22        Atlantic    7.9  1987   33  GoldenOldie   33  GoldenOldie
23         Elektra    7.2  1985   35  GoldenOldie   35  GoldenOldie
24          London    7.8  1987   33  GoldenOldie   33  GoldenOldie
25             EMI    8.2  1987   33  GoldenOldie   33  GoldenOldie

check Country Count

In [58]:
print(df.groupby(['country'])['title'].count())
print("")

country
Europe Union          5
United Kingdom       12
United States         7
Name: title, dtype: int64