In [1]:
"""
@filename: DataFrame-Melt&explode
@author: Waisullah yousofi
@url: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html
@url: https://www.google.com/search?q=python+pandas+melt+images&rlz=1C1CHBF_enIN872IN872&source=lnms&tbm=isch&sa=X&ved=2ahUKEwir3cKHoJHtAhUlzDgGHUDICG4Q_AUoAXoECA8QAw&biw=1139&bih=505#imgrc=gQaKKED16JmiQM
@url: https://medium.com/@durgaswaroop/reshaping-pandas-dataframes-melt-and-unmelt-9f57518c7738
"""

'\n@filename: DataFrame-Melt&explode\n@author: Waisullah yousofi\n@url: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html\n@url: https://www.google.com/search?q=python+pandas+melt+images&rlz=1C1CHBF_enIN872IN872&source=lnms&tbm=isch&sa=X&ved=2ahUKEwir3cKHoJHtAhUlzDgGHUDICG4Q_AUoAXoECA8QAw&biw=1139&bih=505#imgrc=gQaKKED16JmiQM\n@url: https://medium.com/@durgaswaroop/reshaping-pandas-dataframes-melt-and-unmelt-9f57518c7738\n'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(data = {
    'Day' : ['MON', 'TUE', 'WED', 'THU', 'FRI'], 
    'Google' : [1129,1132,1134,1152,1152], 
    'Apple' : [191,192,190,190,188] 
})

print df

In [4]:
print(df)

   Day  Google  Apple
0  MON    1129    191
1  TUE    1132    192
2  WED    1134    190
3  THU    1152    190
4  FRI    1152    188

info df

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     5 non-null      object
 1   Google  5 non-null      int64
 2   Apple   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

melt

In [6]:
dfr = df.melt(id_vars=['Day'])

print dfr

In [7]:
print(dfr)

   Day variable  value
0  MON   Google   1129
1  TUE   Google   1132
2  WED   Google   1134
3  THU   Google   1152
4  FRI   Google   1152
5  MON    Apple    191
6  TUE    Apple    192
7  WED    Apple    190
8  THU    Apple    190
9  FRI    Apple    188

#########################################################

create wide dataframe

In [8]:
df = pd.DataFrame(
  {"college":  ["RJC", "SEC", "RJC", "SEC"],
   "student": ["Kavita", "Zeenat", "Minal", "Soumya"],
   "english": [10, 100, 1000, 10000],  # eng grades
   "math":    [20, 200, 2000, 20000],  # math grades
   "physics": [30, 300, 3000, 30000]   # physics grades
  }
)

print df

In [9]:
print(df)

  college student  english   math  physics
0     RJC  Kavita       10     20       30
1     SEC  Zeenat      100    200      300
2     RJC   Minal     1000   2000     3000
3     SEC  Soumya    10000  20000    30000

info df

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   college  4 non-null      object
 1   student  4 non-null      object
 2   english  4 non-null      int64
 3   math     4 non-null      int64
 4   physics  4 non-null      int64
dtypes: int64(3), object(2)
memory usage: 288.0+ bytes
None

melt

In [11]:
dfr = df.melt(id_vars=['college','student'])

print dfr

In [12]:
print(dfr)

   college student variable  value
0      RJC  Kavita  english     10
1      SEC  Zeenat  english    100
2      RJC   Minal  english   1000
3      SEC  Soumya  english  10000
4      RJC  Kavita     math     20
5      SEC  Zeenat     math    200
6      RJC   Minal     math   2000
7      SEC  Soumya     math  20000
8      RJC  Kavita  physics     30
9      SEC  Zeenat  physics    300
10     RJC   Minal  physics   3000
11     SEC  Soumya  physics  30000

#########################################################

read data from csv and load data in a dataframe

In [15]:
df = pd.read_csv('..\dataset/iip-data.csv')

print df

In [16]:
print(df)

              Item Description   Jul-2015   Aug-2015   Sep-2015   Oct-2015
0                  Basic Goods   5.159705   5.137615   6.223818   2.638037
1                 Basic metals   6.812879  10.898662   9.526044   7.349455
2                Capital Goods  10.562310  -3.620244   2.192982   5.531915
3            Consumer Durables  11.362608  15.998112  -3.920822   1.292091
4               Consumer Goods   1.284297   6.590773  -2.134647   2.754821
5        Consumer Non-durables  -4.614370   1.342282  -0.860927   3.745072
6         Electrical Machinery  20.932325 -10.016556   2.882682  13.142973
7                  Electricity   3.536453   1.321586   6.035889  -0.505334
8                General Index   4.219653   3.779070   2.509983   3.011002
9           Intermediate Goods   1.544402   0.793651   1.286174   2.338009
10               Manufacturing   4.665203   4.608551   2.016349   3.914002
11          Mining & Quarrying   1.290878  -0.327600   2.314445  -0.570962
12              Motor Vehicles   7.929515   8.593750   4.213865   6.773455
13      Publishing & Printing   -9.465479 -11.415525  -9.230769   6.088993
14  Rubber & Plastics Products  -4.253112   0.104275   1.469098   5.604396
15                    Textiles  -0.584416   1.126574  -1.556420   4.663558
16            Tobacco Products  -2.049622   8.679245  -7.717303 -25.796506
17             Wearing Apparel  21.722609  27.588467  15.780142   9.925293
18     Wood & Products Of Wood  10.433071  20.973783  10.351827   6.258890

info df

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item Description  19 non-null     object
 1   Jul-2015          19 non-null     float64
 2   Aug-2015          19 non-null     float64
 3   Sep-2015          19 non-null     float64
 4   Oct-2015          19 non-null     float64
dtypes: float64(4), object(1)
memory usage: 888.0+ bytes
None

melt

In [18]:
dfr = pd.melt(df, id_vars =['Item Description'])

print dfr

In [19]:
print(dfr)

              Item Description  variable      value
0                  Basic Goods  Jul-2015   5.159705
1                 Basic metals  Jul-2015   6.812879
2                Capital Goods  Jul-2015  10.562310
3            Consumer Durables  Jul-2015  11.362608
4               Consumer Goods  Jul-2015   1.284297
..                         ...       ...        ...
71  Rubber & Plastics Products  Oct-2015   5.604396
72                    Textiles  Oct-2015   4.663558
73            Tobacco Products  Oct-2015 -25.796506
74             Wearing Apparel  Oct-2015   9.925293
75     Wood & Products Of Wood  Oct-2015   6.258890

[76 rows x 3 columns]