In [1]:
"""
@filename: DataFrame-CrossTab
@author: waisullah yousofi
@url: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html
"""
# imports
import pandas as pd
import numpy as np

read dataset

In [3]:
df = pd.read_csv('..\dataset/northwind-m.csv')

columns

In [4]:
print("\n*** Columns ***")
print(df.columns)

*** Columns ***
Index(['RefID', 'OrderID', 'OrderDate', 'CompanyName', 'ContactName', 'City',
       'Country', 'ProductName', 'CategoryName', 'QuantityPerUnit',
       'SalePrice', 'Quantity', 'SaleDiscount', 'CostPrice'],
      dtype='object')

info

In [5]:
print("\n*** Structure ***")
print(df.info())

*** Structure ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2305 entries, 0 to 2304
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RefID            2305 non-null   int64
 1   OrderID          2305 non-null   int64
 2   OrderDate        2305 non-null   object
 3   CompanyName      2305 non-null   object
 4   ContactName      2305 non-null   object
 5   City             2305 non-null   object
 6   Country          2305 non-null   object
 7   ProductName      2305 non-null   object
 8   CategoryName     2305 non-null   object
 9   QuantityPerUnit  2305 non-null   object
 10  SalePrice        2305 non-null   float64
 11  Quantity         2305 non-null   int64
 12  SaleDiscount     2305 non-null   float64
 13  CostPrice        2305 non-null   float64
dtypes: float64(3), int64(3), object(8)
memory usage: 252.2+ KB
None

summary

In [6]:
print("\n*** Summary ***")
print(df.describe())

*** Summary ***
               RefID       OrderID    SalePrice     Quantity  SaleDiscount  \
count    2305.000000   2305.000000  2305.000000  2305.000000   2305.000000
mean   101153.000000  10690.747505    26.258920    24.135792      0.056178
std       665.540507    262.111822    30.393855    20.781211      0.083444
min    100001.000000  10248.000000     2.000000     1.000000      0.000000
25%    100577.000000  10464.000000    12.000000    10.000000      0.000000
50%    101153.000000  10687.000000    18.400000    20.000000      0.000000
75%    101729.000000  10913.000000    31.230000    30.000000      0.100000
max    102305.000000  11204.000000   263.500000   214.000000      0.250000

         CostPrice
count  2305.000000
mean     28.311505
std      32.859232
min       2.500000
25%      12.750000
50%      19.450000
75%      34.000000
max     263.500000

head

In [7]:
print("\n*** Head ***")
print(df.head())

*** Head ***
    RefID  OrderID    OrderDate             CompanyName        ContactName  \
0  100001    10248  04-Apr-2013             Wilman Kala    Matti Karttunen
1  100002    10248  04-Apr-2013             Wilman Kala    Matti Karttunen
2  100003    10248  04-Apr-2013             Wilman Kala    Matti Karttunen
3  100004    10249  05-Apr-2013  Tradição Hipermercados  Anabela Domingues
4  100005    10249  05-Apr-2013  Tradição Hipermercados  Anabela Domingues

        City  Country                    ProductName    CategoryName  \
0   Helsinki  Finland                 Queso Cabrales  Dairy Products
1   Helsinki  Finland  Singaporean Hokkien Fried Mee  Grains/Cereals
2   Helsinki  Finland         Mozzarella di Giovanni  Dairy Products
3  São Paulo   Brazil                           Tofu         Produce
4  São Paulo   Brazil          Manjimup Dried Apples         Produce

    QuantityPerUnit  SalePrice  Quantity  SaleDiscount  CostPrice
0         1 kg pkg.       14.0        12           0.0      21.00
1   32 - 1 kg pkgs.        9.8        10           0.0      14.00
2  24 - 200 g pkgs.       34.8         5           0.0      34.80
3  40 - 100 g pkgs.       18.6         9           0.0      23.25
4  50 - 300 g pkgs.       42.4        40           0.0      53.00

In [8]:
df['SaleAmt'] = df['Quantity'] * df['SalePrice'] * (1-df['SaleDiscount'])
df['CostAmt'] = df['Quantity'] * df['CostPrice']
df['Profit'] = df['SaleAmt'] - df['CostAmt']

groupby count

In [9]:
print(df.groupby(['CompanyName', 'ProductName'])['RefID'].count())
# groupby sum
print(df.groupby(['CompanyName', 'ProductName'])['SaleAmt'].sum())

CompanyName          ProductName
Alfreds Futterkiste  Aniseed Syrup                   1
                     Chartreuse verte                1
                     Escargots de Bourgogne          1
                     Fløtemysost                     1
                     Grandma's Boysenberry Spread    1
                                                    ..
Wolski  Zajazd       Scottish Longbreads             1
                     Sirop d'érable                  2
                     Steeleye Stout                  1
                     Tarte au sucre                  1
                     Tourtière                       1
Name: RefID, Length: 1788, dtype: int64
CompanyName          ProductName
Alfreds Futterkiste  Aniseed Syrup                    60.00
                     Chartreuse verte                283.50
                     Escargots de Bourgogne          503.50
                     Fløtemysost                     430.00
                     Grandma's Boysenberry Spread    380.00
                                                      ...
Wolski  Zajazd       Scottish Longbreads             187.50
                     Sirop d'érable                  627.00
                     Steeleye Stout                   54.00
                     Tarte au sucre                  591.60
                     Tourtière                        22.35
Name: SaleAmt, Length: 1788, dtype: float64

pivot table - Company Name<br>
index - single column

In [10]:
pd.pivot_table(df, index=["CompanyName"])
# index - multi column
pd.pivot_table(df, index=["CompanyName","ProductName"])
# value - single
pd.pivot_table(df, index=["CompanyName","ProductName"], values=["SaleAmt"])
# value - multi col
pd.pivot_table(df, index=["CompanyName","ProductName"], values=["SaleAmt","CostAmt","Profit"])
# agg funcs = len np.sum, np.mean, np.max, np.min
pd.pivot_table(df, index=["CompanyName","ProductName"], values=["SaleAmt","CostAmt","Profit"], aggfunc=[np.sum])
# assign to df
dfcn = pd.pivot_table(df, index=["CompanyName","ProductName"], values=["SaleAmt","CostAmt","Profit"], aggfunc=[np.sum])

pivot table - Product Name

In [11]:
dfpn = pd.pivot_table(df, index=["ProductName","CompanyName"], values=["SaleAmt","CostAmt","Profit"], aggfunc=[np.sum])

pivot table - Category Name

In [12]:
pd.pivot_table(df, index=["CategoryName"], values=["SaleAmt","CostAmt","Profit"], aggfunc=[np.sum])

                      sum
                  CostAmt       Profit      SaleAmt
CategoryName
Beverages       598863.25 -106554.5460  492308.7040
Condiments      128568.95  -17902.3550  110666.5950
Confections     202706.74  -25934.7990  176771.9410
Dairy Products  285381.60  -38236.1750  247145.4250
Grains/Cereals  112569.75  -12571.8725   99997.8775
Meat/Poultry    238602.65  -38911.7665  199690.8835
Produce         123950.95  -14772.3900  109178.5600
Seafood         168297.94  -22712.0285  145585.9115