In [1]:
"""
@filename: DataFrame-Merge&Joins
@author: Waisullah yousofi
@url: https://pandas.pydata.org/pandas-docs/stable/index.html
@url: https://pandas.pydata.org/pandas-docs/stable/merging.html
"""

'\n@filename: DataFrame-Merge&Joins\n@author: Waisullah yousofi\n@url: https://pandas.pydata.org/pandas-docs/stable/index.html\n@url: https://pandas.pydata.org/pandas-docs/stable/merging.html\n'

topics to cover<br>
row bind<br>
col bind<br>
col bind with key<br>
joins (all)

import modules

In [2]:
import pandas as pd

The concat function (in the main pandas namespace) does all of the heavy work <br>
of performing concatenation operations along an axis while performing optional <br>
set logic (union or intersection) of the indexes (if any) on the other axes. <br>
lets start with a simple example:

default concat

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [4]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[4, 5, 6, 7])
print(df2)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [5]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=range(8,12))
print(df3)

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

concat

In [6]:
frames = [df1, df2, df3]
result = pd.concat(frames)
print(result)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

with keys clause<br>
adds keys to dataframe in addition to row-id<br>
generally not to be used

In [7]:
result = pd.concat(frames, keys=['x', 'y', 'z'])
print(result)

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

define new df

In [8]:
df4 = pd.DataFrame({'E': ['B2', 'B3', 'B6', 'B7'],
                    'F': ['D2', 'D3', 'D6', 'D7'],
                    'G': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
print(df4)

    E   F   G
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

concat with axis=0 (default) ie row wise

In [9]:
result = pd.concat([df1, df4])
print(result)

     A    B    C    D    E    F    G
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN   B2   D2   F2
3  NaN  NaN  NaN  NaN   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

concat with axis=0 (default) ie row wise

In [10]:
result = pd.concat([df1, df4], axis=0)
print(result)

     A    B    C    D    E    F    G
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN   B2   D2   F2
3  NaN  NaN  NaN  NaN   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

concat with axis=1 ie col wise

In [11]:
print(df1)
print(df4)
result = pd.concat([df1, df4], axis=1)
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    E   F   G
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7
     A    B    C    D    E    F    G
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

define new df

In [12]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'C': ['D2', 'D3', 'D6', 'D7'],
                    'D': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

concat with axis=0 (default) ie row wise & join=outer (default) i.e. Set Union

In [13]:
print(df1)
print(df4)
result = pd.concat([df1, df4], axis=0, join='outer') 
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    B   C   D
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7
     A   B   C   D
0   A0  B0  C0  D0
1   A1  B1  C1  D1
2   A2  B2  C2  D2
3   A3  B3  C3  D3
2  NaN  B2  D2  F2
3  NaN  B3  D3  F3
6  NaN  B6  D6  F6
7  NaN  B7  D7  F7

concat with axis=0 (default) ie row wise & join=inner i.e. Set Intersection

In [14]:
print(df1)
print(df4)
result = pd.concat([df1, df4], axis=0, join='inner') 
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    B   C   D
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7
    B   C   D
0  B0  C0  D0
1  B1  C1  D1
2  B2  C2  D2
3  B3  C3  D3
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

concat with axis=1 ie col wise & join=outer (default) i.e. Set Union

In [15]:
result = pd.concat([df1, df4], axis=1, join='outer') 
print(result)

     A    B    C    D    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

concat with axis=1 ie row wise & join=inner i.e. Set Intersection

In [16]:
result = pd.concat([df1, df4], axis=0, join='outer') 
print(result)
result = pd.concat([df1, df4], axis=1, join='inner') 
print(result)

     A   B   C   D
0   A0  B0  C0  D0
1   A1  B1  C1  D1
2   A2  B2  C2  D2
3   A3  B3  C3  D3
2  NaN  B2  D2  F2
3  NaN  B3  D3  F3
6  NaN  B6  D6  F6
7  NaN  B7  D7  F7
    A   B   C   D   B   C   D
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

Joining columns based on key-col<br>
vlook-up equivalent merge cols of df based on key-col<br>
Merge    SQL Join        Name	Description<br>
left	    LEFT OUTER JOIN	Use keys from left frame only<br>
right	RIGHT OUTER JOIN	Use keys from right frame only<br>
outer	FULL OUTER JOIN	Use union of keys from both frames<br>
inner	INNER JOIN	       Use intersection of keys from both frames

define df

In [17]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [18]:
print(left)
print(right)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K4  C3  D3

merge cols based on key, inner join

In [19]:
result = pd.merge(left, right, on='key', how='inner')
print(result)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

merge cols based on key, inner left

In [20]:
result = pd.merge(left, right, on='key', how='left')
print(result)

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN

merge cols based on key, right join

In [21]:
result = pd.merge(left, right, on='key', how='right')
print(result)

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K4  NaN  NaN  C3  D3

merge cols based on key, outer join

In [22]:
result = pd.merge(left, right, on='key', how='outer')
print(result)

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C3   D3